/* 
    Document   : column1_tree
    Created on : 17/05/2012, 12:04:15 AM
    Author     : harveybc
    Description:
        Purpose of the stylesheet follows.
*/
    .graf_estado{
   display:inline-block;
}
   .cAreaNombre{
          background-color:#E8D985;opacity: 0.70 ;background-image:none !important;width:150px;text-align:center;border-left:2px transparent;border-right:2px transparent;

   }
   .cAreaVacio{
   background-image:none !important;width:541px;border-left:2px transparent;border-right:2px transparent;
   
   }
    .cArea
    {
       background-color:#E8D985;opacity: 0.70 ;background-image:none !important;width:85px;
           text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);

    }
    
    .cProcesoNombre{
          background-color:#D6DCE8;opacity: 0.70 ;background-image:none !important;width:150px;text-align:center;border-left:2px transparent;border-right:2px transparent;

   }
   .cProcesoVacio{
          background-image:none !important;width:523px;border-left:2px transparent;border-right:2px transparent;

   }
   
    .cProceso
    {
         background-color:#D6DCE8;opacity: 0.70 ;background-image:none !important;width:85px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);

    }
    
    .cEquipoCodigo{
        background-color:#FCF4A1;opacity: 0.70 ;background-image:none !important;text-align:center;width:70px;border-left:2px transparent;border-right:2px transparent;
    }
    
    .cEquipoEspacio
    {
      background-image:none !important;width:460px;border-left:2px transparent;border-right:2px transparent;

    }
    .cEquipo{
        background-color:#C9E29F;opacity: 0.70 ;background-image:none !important;width:85px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
    }
    .cEquipoAmarillo{
        background-color:#FFFF00;opacity: 0.70 ;background-image:none !important;width:85px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
    }
    .cEquipoRojo{
        background-color:#FF0000;opacity: 0.70 ;background-image:none !important;width:85px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
    }
    .cEquipoManual{
        background-image:none !important; height:12px !important;
    }
    
    .cTableroCodigo{
        background-color:#ADDDF2;opacity: 0.70 ;background-image:none !important;width:112px;text-align:center;border-left:2px transparent;border-right:2px transparent;;

    }
   
    .cTableroEspacio
    {
        background-image:none !important;width:513px;border-left:2px transparent;border-right:2px transparent;
    }
    
     .cTablero{
        background-color:#A9DCE0;opacity: 0.70 ;background-image:none !important;width:84px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
    }
     .cTableroAmarillo{
        background-color:#FFFF00;opacity: 0.70 ;background-image:none !important;width:84px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
    }    
     .cTableroRojo{
        background-color:#FF0000;opacity: 0.70 ;background-image:none !important;width:84px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
    }    
    
     .cMotorCodigo{
                background-color:#FFDBC0;opacity: 0.70 ;background-image:none !important;text-align:center;width:132px;border-left:2px transparent;border-right:2px transparent;
    }
     .cMotorEspacio{
          background-image:none !important;width:384px;border-left:2px transparent;border-right:2px transparent;

     }
    .cMotor{
                background-color:#EFC0B1;opacity: 0.70 ;background-image:none !important;width:49px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
    }
    .cMotorAmarillo{
                background-color:#FFFF00;opacity: 0.70 ;background-image:none !important;width:49px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
    }
    .cMotorRojo{
                background-color:#FF0000;opacity: 0.70 ;background-image:none !important;width:49px;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
    }
