/* 
    Document   : column1
    Created on : 16/05/2012, 02:31:07 AM
    Author     : harveybc
    Description:
        Purpose of the stylesheet follows.
*/




.operaciones-bar { opacity:1 !important;border-top:1px solid #2d444f; border-bottom:1px solid #2d444f; background:url(nav1_bg.gif) repeat-x 0 100% #666e73; padding:0 30px;  }
.operaciones { opacity:1 !important;float:left; margin:0;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}

/************** ALL LEVELS  *************/
.operaciones li { opacity:1 !important;position:relative; text-align:left; }
.operaciones li.over { z-index:10; }
.operaciones li.active { z-index:15; }
.operaciones a,
.operaciones a:hover { display:block; text-decoration:none; }
.operaciones span { display:block; }
.operaciones a { line-height:1.3em; }


/************ 1ST LEVEL  ***************/
.operaciones li { float:left; background:url(nav1_sep.gif) no-repeat 100% 0;  }
.operaciones li.active { margin-left:-1px; background:url(nav1_active.gif) no-repeat; color:#fff; font-weight:bold;  }
.operaciones li.active em { display:block; position:absolute; top:0; right:-1px; width:3px; height:27px; background:url(nav1_active.gif) no-repeat 100% 0; }
.operaciones a { float:left; padding:0 14px; color:#fff; line-height:27px; }
.operaciones li.over a span { color:#FFF; }


/************ 1ST LEVEL RESET ************/
.operaciones ul li,
.operaciones ul li.active { opacity:1 !important; list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; float:none; height:auto; background:none; margin:0; }
.operaciones ul a,
.operaciones ul a:hover { float:none; padding:0; line-height:1.3em; }
.operaciones ul li.over a,
.operaciones ul li.over a:hover,
.operaciones ul a,
.operaciones li.active li { font-weight:normal; }


/************ 2ND LEVEL ************/
.operaciones ul {background:#fff; list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0 0 3px 0; position:absolute; width:189px; top:27px; left:-10000px; border-top:1px solid #2d444f; }
.operaciones ul ul  { background:#fff;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:2px 0 0 0; border-top:0; background:url(nav3_bg.png) 0 0 no-repeat; left:100px; top:13px; }

/* Show menu */
.operaciones li.over ul { left:-1px; }
.operaciones li.over ul ul { left:-10000px; }
.operaciones li.over ul li.over ul { left:100px; }

.operaciones ul li { background:none; padding:0 2px;border:#AC8B3A 1px solid; }
.operaciones ul li a,.operaciones ul li a span{ color:#000 !important;  padding: 3px;background:#FFF; }
.operaciones ul li a:hover { color:#fff !important;  padding: 3px;background:#C24E55;}
.operaciones ul li a { color:#000!important;  padding: 3px;background:#FFF;}

.operaciones ul span,

.operaciones ul li.parent li a,
.operaciones ul li.parent li.parent li a { background-image:none; }

/************ 3RD+ LEVEL ************/
/* Cursors */
.operaciones li.parent a,
.operaciones li.parent li.parent a,
.operaciones li.parent li.parent li.parent a { cursor:default; }

.operaciones li.parent li a,
.operaciones li.parent li.parent li a,
.operaciones li.parent li.parent li.parent li a { cursor:pointer; }

/* Show menu */
.operaciones ul ul ul { left:-10000px; list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; }
.operaciones li.over ul li.over ul ul { left:-10000px;}
.operaciones li.over ul li.over ul li.over ul { left:100px; }

.operaciones-bar:after, .operaciones-container:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

