body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
        
        vertical-align: baseline;
	background: #EFEFEF;
}

#page
{
	margin-top: 2px;
	margin-bottom: 5px;
	background: white url("/images/lineasAzules.png") no-repeat left top;
	border:#c7cccf 1px solid;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px;
}

 #header
{
	margin: 0;
	padding: 0;
	
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: right;
	border-top: 2px solid #ac8b3a;
        background: url(/images/footer_bavaria.jpg);
        background-repeat: no-repeat;
        background-position-y: 6px;
        padding-right: 0px;
        padding-top: 7px;
        text-shadow: rgba(0, 0, 0, 0.256875) 2px 2px 2px;
        
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: #d33c44;
	border-left: 5px solid #b32c24;
        
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #ffffff;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#FCFAE8;
        border:#e0cd7c 1px solid;
        -moz-border-radius:3px;
        -webkit-border-radius: 3px;
        border-radius:3px;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
        text-align:left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
    text-align:left;
	padding-bottom: 2px;
}

.operations li a
{
    text-align:left;
	font: 12px Arial;
        text-decoration-line: underline;
	color: #60066cc;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
    text-align:left;
	color: #60066cc;
}

.operations li a:hover
{
    text-align:left;
	background: #FFFFD2;
}

a.small-button { padding-right: 17px;padding-top:  0px; height: 32px; line-height: 30px; float: left; margin: 0px; text-decoration: none; }
	a.small-button:hover { text-decoration: none; color: #eeeeee; }
	a.small-button span { height: 32px; line-height: 30px; padding: 0px 0px 0px 17px; }
        
a.smallred { background: url(/images/small-button-red.png) no-repeat bottom right; }
    a.smallred span { background: url(/images/small-button-red.png) no-repeat; }
        
    

 