/**** Valores iniciales ****/
/*general*/
#block_super_headers,#block_super_headers_lock
{
    display:none;
    margin-bottom: 4px;
}
#block_super_headers hr
{
    margin-bottom: 4px;
}

body{
    text-align: center ;
}
b,h1,h2{
    color: #555 ;
}
.container,#footer {display:inline-block;width:98%;padding: 4px 0px 0px 0px ;margin:0px;}

#page{
    text-align: center;
}
.list-view{
    text-align:left;
}
/* headers */
.bizquierdo{
        border:#C7CCCF 1px solid ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    
}
.layout_5,.logos
{
    display: none;
}
#block_l4_headers
{
    width:100%;
}
.logoDer,.logoIzq{
max-width: 299px;
}
.logoIzq img, 
.logoDer img 
{
    width:100%;
}
label{
    font-weight: bold;
    display:block;
    text-align: left;
    color:#555;
}
/* menus */

#nav li 
{
    margin: 1px ;
}

#nav li ul li 
{
    width:100%;
} 
#nav li ul li a
{
    width:100%;
} 
#nav li ul 
{
    margin-left: -58px;margin-top:15px;
    width: 180px;
} 
#nav li a 
{
    vertical-align: middle ;
    width:available;
} 
#nav li a span 
{ 
    vertical-align: middle;
}
#nav li a span
{ 
}
#nav a
{ padding: 0px 7px 0px 7px;
  display: inline-block ;
  vertical-align: middle;
}

.operationsH,.scoreboardH
{
    display: inline-block;
    text-align:center;
    list-style-type: none;
}
.operationsH ul 
{
    width:100%; margin: 0px; padding: 0px;
    display: inline-block;
    border:#811e24 0px solid;        
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.256875);
    -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
    -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
}
.operationsH,.operationsH li,
#nav li,#nav,#nav ul, #nav-bar, #nav li a
{
    display: inline-block ;
}
#nav li a
{
    margin:1px 0px 4px 0px;
}
#nav  li a span,#nav  li a,.operationsH li a
{

    width:100%;
    display: inline-block ;
    padding: 1px 0px 1px 0px;
}
.operationsH li a, .buttons input
{
    background-color: #CDF;
    padding-left:5px ;padding-right:5px ;
    display: inline-block; text-align: center;font-weight:bold; margin: 0px; 
    font: 10px Verdana,sans-serif; 
    color: #ffffff ; margin: 2px 0px; text-shadow: 1px 1px 1px rgba(0,0,0,0.3) ; text-decoration: none; 
    vertical-align: middle;
    background-color: #473fdd;
    border:#195b98 1px solid;        
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-border-radius:6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
    background-image: linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
    background-image: -o-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
    background-image: -moz-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
    background-image: -webkit-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
    background-image: -ms-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.25, rgb(77,101,138)),
        color-stop(0.72, rgb(126,173,224))
        );
    opacity: 0.95;
}

.operationsH li a:hover
{
    text-align:center;
    background: #9fc9f5;
}
.headers,
.content_2c_1
{
    margin-top: 0px;
    display: inline-block;
}
.layout_3 menusHorizontal,
.operationsVertical,
.logos,
.scoreboardVertical
{
    width:100%;
    display: inline-block;
    border-radius:8px;
    margin-bottom:8px;
    text-align:center;
}
/* breadcrumbs */
.hBreadcrumbs,.hBreadcrumbs div,.hBreadcrumbs div a,.hBreadcrumbs div span,.hLinkInicio a
{
    font-size:8px ;
}
.hPageTitle h2,    h1,
.hPageTitle
{
    font-size:13px;
}
/* contenido_inner */
#myDiv{
    text-align: left;
}
#hMainContainer
{
    margin-bottom: 10px;
}
.content_inner{
    padding: 0px;
    margin:0px;
    display:block;
    text-align:center;
}
input,select, textarea
{
    width:98%;
    border:#9BD 1px solid ;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border-radius:4px;
    text-shadow: rgba(0, 0, 0, 0.256875) 1px 1px 1px;
    background-color: #FCFDFF;
}
input, textarea
{
    padding: 2px 4px 2px 4px;
}
select{
    padding: 0px 4px 0px 0px;
}
.buttons{
    width:100%;
    text-align: center ;
}
.buttons input,.rememberMe input
{
    margin-bottom:4px;
    width:30%;
    font: 13px Verdana,sans-serif;
    font-weight: bold;
}
.buttons input:hover
{
    text-decoration:underline;

}
.tables100{
    width:100%;
    text-align: center;
    vertical-align: middle;
    display:block;
    border:#AC8B3A 1px solid ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    padding: 8px;  
}
.tables50{
    width:100%;
    text-align: center;
    vertical-align: middle;
    display:inline-block;
}
.row,.h_Arbol{
    text-align:left;
}
/* Bloques para formularios  */
.forms33c{
    width:31%;
    vertical-align:top;
    display: inline-block;
    padding:0 1.5% 0 0;
    height:100%;

}
.forms50c,.forms50cb{
    width:100%;
    vertical-align:top;
    display:inline-block;
    margin:0px;
    height:100%;
    padding: 0px;
    text-align: center;
    
}
    .forms50c
    {
        text-align: left;
    }
.forms50cb{
    border:#C7CCCF 1px solid ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    width:96%;
    padding: 4px 2% 4px 2%;
    margin-bottom:8px;
}
.forms100c,.forms100cb{
    width:100%;
    vertical-align:top;
    display:inline-block;
    padding: 0px;
    margin-bottom:0px;
    text-align: center;
}
.forms100cb{
    border:#C7CCCF 1px solid ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px; 
    margin-bottom:8px;
        width:96%;
    padding: 4px 2% 4px 2%;
}
.jstree a,a.cArea,.divArbol
{
    display: inline-block ;
}
.divArbol{
    width:100%;
}
.h_ArbolIzq
{
    width:30%;
    display: inline-block;
    float: left;
    text-align:left;
    height:18px;
    line-height: 18px;
    padding-top:0px;
    padding-bottom: 0px;
}
.h_ArbolDer
{
    width:45%;
    display: inline-block;
    float: right;
    text-align:right;
    height:18px;
    line-height: 18px;
    padding-top:0px;
    padding-bottom: 0px;
}
.cAreaNombre,.cArea,.jstree a,.h_ArbolFile a,.jstree-icon
{
    padding-top:0px ;
    padding-bottom: 0px ;
    height: 18px ;
    line-height: 18px ;
}
.sb_data{
    line-height: 10px; display:inline-block;font-size: 10px; margin-left:4px;
}
/* columna izquierda */
.bizquierdo
{
    float:left ;
}
/* bloque del contenido*/
.bcentro 
{   
    width: 100%;
    border:#c7cccf 0px solid;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.256875);
    -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
    -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    padding: 0px;
    text-align:center;
}
/* footer */
#footer
{
    text-align: right;
    border-top: 2px solid #ac8b3a;
    background: url(/images/footer_bavaria.jpg);
    background-repeat: no-repeat;
    background-position-y: 6px;
    padding-right: 0px;
    padding-top: 7px;
    padding-bottom:7px;
    text-shadow: rgba(0, 0, 0, 0.256875) 2px 2px 2px;
    word-spacing: normal ;
    letter-spacing: normal ;
}
#footer, #footer span
{
    font-size: 10px;
}
/*  Para menos de 700px, el copyright va alineado a la izq y como 100px abajo*/
@media only screen and (max-width: 650px) 
{
    #footer
    {
        text-align: left ;
        padding-top: 40px;padding-left: 0px;
        
    }
}

