/**
* Layout 3: 641-800
*/
@media only screen and (min-width: 641px) and (max-width: 800px){
    /* general */
       .bizquierdo,

        .layout_1,
    .layout_2,
    #block_l4_bcenter,
    .layout_5,
    .bcenter
    {
        display: none;
    }    .hPageTitle h2,    h1 
    {
        font-size:16px;
    }
    #layout5, .h_Arbol,
    input,select,textarea,html,body, div, span, object, iframe,  h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section 
    {
        font-size:11px;
    }
    /* headers */
    .logoIzq
    {  
        min-width: 226px;
        width:25%;
        float:left;
    }
    .logoDer
    {
        min-width: 226px;
        width:25%;
        float:right;
        display: inline-block;
    }
    /* menus */
    #nav  li a span,.operationsH li a
{
    height:100%;
    display: inline-block ;
    padding: 2px;
}
    #nav li , #nav li a, .operationsH, .operationsH li
    { 
        vertical-align: middle;
    }

    #nav li ul 
    {
        margin-left: -58px;margin-top:24px;
        width: 180px;
    } 
    /* breadcrumbs */
    .hBreadcrumbs,.hBreadcrumbs div,.hBreadcrumbs div a,.hBreadcrumbs div span,.hLinkInicio a{
        font-size:10px ;
    }
    /* contenido_inner */
    input{
        height:14px;
    }
    .buttons input{
        height:22px;
    }
    /* footer */
}
/**
Ingeni-Us Soluciones de Ingeniería S.A.S

Nuestra empresa compercializa servicios y productos en las áreas de: tecnologías de la información (TI), visibilidad de procesos industriales y telemetría.

Nuestra principal ventaja es que utilizamos el "estado-del-arte" en todas nuestras soluciones, por ejemplo el uso de HTML5+CSS3, virtualización, compatibilidad con múltiples sistemas operativos o interfaces de usuario que se adaptan a diferentes pantallas desde FullHD hasta celulares conservando rígidos estándares de seguridad entre otros.

Nuestras áreas de trabajo principales son:

Visibilidad de procesos: Software de gestión de datos de CBM (mantenimiento basado en condición), permite mostrar gráficas y tendencias de los datos de todo su proceso, compatible con múltiples protocolos y bases de datos, conexión con bases de datos externas, modularidad, generación de alertas, alarmas, gráficos de tendencia interactivos, compatible con SAP, planes de mantenimiento, personalizable.
Seguridad de la información: Servicio de análisis de vulnerabilidades remotas de redes/servidores, auditorías de seguridad para software (offline o Web), pruebas de penetración, diseño de soluciones de encriptación de nivel militar, redundancia de sistemas, discos (RAID), replicación online de bases de datos, aseguramiento de hosts  y guests de virtualización, redes  privada virtuales(VPN), sistemas de detección/prevención de intruciones en software o hardware (IPS), firewalls, análiss y diseño de infraestructura de seguridad.
Plataforma de adquisición y monitoreo de datos de telemetría: Plataforma de software adaptable que proporciona total control sobre información recibida, personalización del procesamiento  de cada entrada y personalización de las acciones a tomar o la información a mostrar, compatible con plataformas GSM/GPRS/3G/Wifi o la tecnología disponible para transmisión de datos, puede usarse para leer variables remotas o para seguimiento por GPS.  Plataforma accesible vía Web, compatible con dispositivos móviles.
Desarrollo de aplicaciones industriales a la medida: Migración de bases de datos, procesamiento de datos, algoritmos de inteligencia artificial (Neuroevolución, GA, etc...), múltiples arquitecturas, desarrollo de interfaces de usuario, instalación de centros de procesamiento de datos basados en GPU (supercomputación paralela), clustes.
Diseño Web: Diseño de imágen empresarial y página web con la última tecnología disponible y uso de buenas prácticas dise