    .hBreadcrumbs,.hBreadcrumbs div,.hBreadcrumbs div a,.hBreadcrumbs div span,.hLinkInicio a{
        font-size:10px !important;
    }
    .hPageTitle h2,    h1 
    {
        font-size:17px;
    }
    #layout5, .h_Arbol,
    input,html,body, div, span, object, iframe,  h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section 
    {
        font-size:11px !important;
    }
    input{
        height:14px;
    }
    .buttons input{
        height:22px;
    }

    .layout_3
    {
        text-align:center !important;
        width:100%;
    }
    #nav li ul li 
    {
        width:100%;
    } 
    #nav li ul li a
    {
        width:100%;
    } 
    #nav li ul 
    {
        margin-left: -33px;margin-top:24px;
    } 
    #nav li a 
    {
        vertical-align: middle;
        width:available;
    } 
    #nav li a span 
    { margin-top:1px;
        vertical-align: middle;
    }
    #block_l4_headers
    {
        width:100%;
    }
    .logoIzq
    {  
        min-width: 226px;
        width:25%;
        float:left;
    }
    .logoDer
    {
        min-width: 226px;
        width:25%;
        float:right;
        display: inline-block;
    }
    .logoIzq img, 
    .logoDer img 
    {
        width:100%;
    }
    .menuHorizontal
    {
        margin-bottom:0px;

    }

    .layout_3 menusHorizontal,
    .operationsVertical,
    .logos,
    .scoreboardVertical
    {
        width:100%;
        display: inline-block;
        border:#c7cccf 1px solid;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px;
        padding: 8px;  
        margin-bottom:10px;
    }
    .scoreboardVertical
    {
        width:100%;
        background-color:#fcf9ff;
    }
    .layout_3 menus
    {
       
        opacity:0.9;
    }
    .operationsH,.scoreboardH
    {
        display: inline-block;
        text-align:center;
        list-style-type: none;
        
    }
    .operationsH ul 
    {
         width:100%; margin: 0px; padding: 0px;
        display: inline-block;
            border:#811e24 0px solid;        
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
    }
    
    .operationsH,
        #nav li,#nav,#nav ul, #nav-bar
    {
        padding-bottom:2px;margin-bottom:2px;
        display: inline-block !important;
    }
    .operationsH li
    {
        display: inline-block;
    }
    #nav li a span
    { 
        font-size: 12px;
    }
        #nav a
    { 
        padding: 0px 7px 0px 7px;
        
    }
    #nav a
    {
        padding: 0px 7px 0px 7px;
        height:18px !important;
        display: inline-block !important;
        vertical-align: middle;
    }
    .operationsH li
    {
            vertical-align: middle;
    }    
    
    
    .operationsH li a
    {
        padding-left:5px !important;padding-right:5px !important;
        display: inline-block; text-align: center;height:18px;font-weight:bold; margin: 0px; font: 12px Arial,sans-serif; 
    color: #ffffff !important; text-shadow: 1px 1px 1px rgba(0,0,0,0.3) !important; text-decoration: none; 
    vertical-align: middle;
    background-color: #473fdd;
    border:#195b98 1px solid;        
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:10px;
        -webkit-border-radius: 10px;
        border-radius:10px;
background-image: linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
background-image: -o-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
background-image: -moz-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
background-image: -webkit-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
background-image: -ms-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(77,101,138)),
	color-stop(0.72, rgb(126,173,224))
);
opacity: 0.95;
    }

    .operationsH li a:hover
    {
        text-align:center;
        background: #9fc9f5;
    }
    .headers,
    .content_2c_1
    {
        margin-top: 0px;
        display: inline-block;
    }
    .graphs
    {
        margin-top: 15px;
        display: inline-block;
    }
    .graphs50
    {
        margin-top: 15px;
        display: inline-block;
    }
    

    .bcentro
    {   
        width: 98%;
        min-width: 450px;
        border:#c7cccf 0px solid;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.256875);
        -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
        -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px;
        padding: 0px 8px 8px 8px;
        


    }
        .bizquierdo,

        .layout_1,
    .layout_2,
    #block_l4_bcenter,
    .layout_5,
    .bcenter
    {
        display: none;
    }
 