/** 
* Layout 4: 801px - 990px
*/
@media only screen and (min-width: 801px) and (max-width: 990px){
    /* general */
    #block_super_headers_lock
{
    display:inline-block;
}
    .bizquierdo,

    .layout_1,
    .layout_2,
    #block_l4_bcenter,
    .layout_5,
    .bcenter
    {
        display: none;
    }
    #layout5, .h_Arbol,
    input,select,textarea,html,body, div, span, object, iframe,  h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section 
    {
        font-size:13px;
    }
    .hPageTitle h2,    h1 
    {
        font-size:19px;
    }
    /* headers */
    .logoIzq
    {  
        min-width: 226px;
        width:25%;
        float:left;
    }
    .logoDer
    {
        min-width: 226px;
        width:25%;
        float:right;
        display: inline-block;
    }
    /* menus */
    #nav  li a span,.operationsH li a
    {
        height:100%;
        display: inline-block ;
        padding: 1px;
    }
    #nav li ul 
    {
        margin-left: -50px;margin-top:24px;
        width: 180px;
    } 
    /* breadcrumbs */
    .hBreadcrumbs,.hBreadcrumbs div,.hBreadcrumbs div a,.hBreadcrumbs div span,.hLinkInicio a{
        font-size:10px ;
    }
    /* contenido_inner */
    input{
        height:14px;
    }
    .buttons input{
        height:22px;
    }
    .forms50cb,.forms50c
    {
        width:47%;
        padding: 4px 1% 4px 1%;
        height: 100%;
    }

    .forms50cl
    {
        float:left;

    }
    .forms50cr
    {
        float:right;

    }

    /* footer */
}
