/**
* Layout 5: 991+
*/
@media only screen and (min-width: 991px){
    /* general */
    #block_super_headers_lock
{
    display:inline-block;
}
    .layout_1,
    .layout_2,
    .layout_3,
    .layout_4,
    #block_l4_operations,
     #block_l4_headers,
    .menuHorizontal,
    #block_l4_l3_menusHorizontal
    {
        display: none;
    }
    .bizquierdo
    {
        max-width: 12% ;

    }
    .bcentro
    {   
        
        z-index: -1;
        width: 86.5%;
        min-width: 450px;
        -moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px;
        padding: 0px;
        float:right;
    }
    .layout_5
    {
        text-align:center ;
        
    }
        .hPageTitle h2,    h1 
    {
        font-size:19px ; 
    }
    #layout5 
    input,select,textarea,html,body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section 
    {
        font-size:13px;
    }
    /* headers */

    #block_l5_logos
    {
        margin-bottom: 8px;
    }
    .logoIzq
    {
        width:100% ;
        margin: 2px 0 2px 0;
    }
    .logoDer
    {
        width:83% ;
        margin: 2px 0 2px 0;
    }

    .layout_5,.logos
    {
        display: inline-block;
    }
    /* menus */
    #block_l5_scoreboard hr,#block_l5_menus hr ,#block_l5_operations hr {
        margin-bottom:4px;
    }
    #mainMbMenu{
        margin-bottom:4px;
        margin-top:4px;
    }
    ul.operationsH{
        margin-bottom: 2px ;
    }
    #nav{
        margin-bottom: 4px ;
    }
    #nav li,#nav .last
    {
        vertical-align: middle;
        width: 100%;
        margin: 0;
        border: 0;
        padding:0;
        float:none;
    }
    #nav li a 
    {
        width: 90%;
        vertical-align: middle;
    }
    #nav li a span{
        vertical-align: middle;
    }
                
                #nav li ul 
    {
        margin-left: 98%;margin-top:0px;
        width: 180px;
    } 
    .scoreboardVertical
    {
        width:100%;
        text-align:center;
    }

    .operationsVertical,.scoreboardVertical
    {
        display: inline-block;
        text-align:center;
        list-style-type: none;
        
    }
    .operationsVertical ul 
    {
         width:100%; margin: 0px; padding: 0px;
        display: inline-block;
            border:#811e24 0px solid;        
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
    }
    .operationsVertical li
    {
         width:100%;
        display: inline-block;
        vertical-align: middle;
    }

    .operationsVertical li a
    {
        display: inline-block; text-align: center;width:82%;font-weight:bold; margin: 0px 2px 4px 2px; font: 13px Arial,sans-serif; 
    color: #ffffff ; padding: 1px 0px; text-shadow: 1px 1px 1px rgba(0,0,0,0.3) ; text-decoration: none; 
    vertical-align: middle;
    background-color: #473fdd;
    border:#195b98 1px solid;        
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:6px;
        -webkit-border-radius: 6px;
        border-radius:6px;
background-image: linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
background-image: -o-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
background-image: -moz-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
background-image: -webkit-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);
background-image: -ms-linear-gradient(bottom, rgb(77,101,138) 25%, rgb(126,173,224) 72%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(77,101,138)),
	color-stop(0.72, rgb(126,173,224))
);
opacity: 0.95;
    }

    .operationsVertical li a:hover
    {
        text-align:center;
        background: #9fc9f5;
    }
    /* breadcrumbs */
    .hBreadcrumbs,.hBreadcrumbs div,.hBreadcrumbs div a,.hBreadcrumbs div span,.hLinkInicio a{
        font-size:10px ;
    }
    /* contenido_inner */
    #sbL1{
        margin-bottom: 4px ;
    }
    .forms50cb,.forms50c
    {
        width:47%;
        padding: 4px 1% 4px 1%;
        height: 100%;
    }


    #sbL1 div{
        font-size:10px ;
    }
    input{
        height:14px;
    }
    .buttons input{
        height:22px;
    }
    .forms50cl
    {
        float:left;

    }
    .forms50cr
    {
        float:right;

    }
    /* footer */
}


