/**
* Layout 2: 431-640
*/
@media only screen and (min-width: 431px) and (max-width: 640px)
{
    /* general */
    .bizquierdo,
    #block_l4_bcenter,
    .bcenter,*    .layout_1,
    .layout_5 
    {
        display: none ;
    }
    .layout_2,
    .headers,
    .logoIzq,
    .logoDer,
    .menu_icons,
    .operations_icons,
    .forms,
    .tables,
    .graphs,
    .content_1c
    {
        display: block;
    }
    #layout5, .h_Arbol,
    input,select,textarea,select,html,body, div, span, object, iframe,  h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section 
    {
        font-size:11px;
    }
    .layout2 {
        text-align:center;
        width:100%;
    }
    .hPageTitle h2,    h1 ,
    .hPageTitle
    {
        font-size:15px;
    }
    /* headers */
    .logoIzq
    {  
        min-width: 70px;
        max-width: 226px;
        width:42%;
        float:left;
    }
    .logoDer
    {
        min-width: 70px;
        max-width: 226px;
        width:40%;
        float:right;
        display: inline-block;
    }


    /* menus */
    #nav  li a span,.operationsH li a
    {
        height:100%;
        display: inline-block ;
        padding: 1px;
    }
    #nav a, .operationsH li a
    { 
        padding: 0px 7px 0px 7px;

        display: inline-block ;
        vertical-align: middle;
    }
    #nav li ul 
    {
        margin-left: -58px;margin-top:20px;
        width: 180px;
    } 
    /* breadcrumbs */
    .hBreadcrumbs,.hBreadcrumbs div,.hBreadcrumbs div a,.hBreadcrumbs div span,.hLinkInicio a
    {
        font-size:9px ;
    }
    .hLinkInicio a
    {
        font-size: 9px;
    }
    .hBreadcrumbs b, 
    .hBreadcrumbs div
    {
        font-size: 9px;
    }
    /* contenido_inner */
    input{
        height:13px;
    }
    .buttons input{
        height:22px;
    }
    /* footer */
}
