/* 
    Document   : responsiveTree
    Created on : 17/05/2012, 12:01:28 AM
    Author     : harveybc
    Description:
        Purpose of the stylesheet follows.
*/
.graf_estado{
    float:right;position:relative;top:-16px;
}

   .cAreaNombre{
          background-color:#E8D985;opacity: 0.70 ;background-image:none !important;
          width:20%;text-align:center;border-left:2px transparent;border-right:2px transparent;
          display:inline-block;
   }
   .cAreaVacio{
   background-image:none !important;
   width:70%;border-left:2px transparent;border-right:2px transparent;
          display:inline-block;
          
   }
    .cArea
    {
       background-color:#E8D985;opacity: 0.70 ;background-image:none !important;
       width:14%;
           text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
   float:right;
          position:relative ;top:-18px;
    }
    .cProcesoNombre{
        background-color:#D6DCE8;opacity: 0.70 ;background-image:none !important;width:20%;text-align:center;border-left:2px transparent;border-right:2px transparent;
          display:inline-block;
        

    }
    .cProcesoVacio{
        background-image:none !important;
        width:70%;border-left:2px transparent;border-right:2px transparent;

          display:inline-block;
    }

    .cProceso
    {
        background-color:#D6DCE8;opacity: 0.70 ;background-image:none !important;width:16%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
    }

    .cEquipoCodigo{
        background-color:#FCF4A1;opacity: 0.70 ;background-image:none !important;text-align:center;
        width:10%;border-left:2px transparent;border-right:2px transparent;
          display:inline-block;
    }

    .cEquipoEspacio
    {
        background-image:none !important;
        width:88%;border-left:2px transparent;border-right:2px transparent;

    }
    .cEquipo{
        background-color:#C9E29F;opacity: 0.70 ;background-image:none !important;width:12%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
    }
    .cEquipoAmarillo{
        background-color:#FFFF00;opacity: 0.70 ;background-image:none !important;width:12%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
    }
    .cEquipoRojo{
        background-color:#FF0000;opacity: 0.70 ;background-image:none !important;width:12%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
    }
    .cEquipoManual{
        background-image:none !important; height:12px !important;
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
    }

    .cTableroCodigo{
        background-color:#ADDDF2;opacity: 0.70 ;background-image:none !important;width:15%;text-align:center;border-left:2px transparent;border-right:2px transparent;;
          display:inline-block;
    }

    .cTableroEspacio
    {
          display:inline-block;
        background-image:none !important;width:83%;border-left:2px transparent;border-right:2px transparent;
    }

    .cTablero{
        background-color:#A9DCE0;opacity: 0.70 ;background-image:none !important;width:15%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
    }
    .cTableroAmarillo{
        background-color:#FFFF00;opacity: 0.70 ;background-image:none !important;width:15%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
    }    
    .cTableroRojo{
        background-color:#FF0000;opacity: 0.70 ;background-image:none !important;width:15%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
    }    

    .cMotorCodigo{
        background-color:#FFDBC0;opacity: 0.70 ;background-image:none !important;text-align:center;width:15%;border-left:2px transparent;border-right:2px transparent;
          display:inline-block;
    }
    .cMotorEspacio{
        background-image:none !important;width:80%;border-left:2px transparent;border-right:2px transparent;

          display:inline-block;
    }
    .cMotor{
        background-color:#EFC0B1;opacity: 0.70 ;background-image:none !important;width:7%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
          
    }
    .cMotorAmarillo{
        background-color:#FFFF00;opacity: 0.70 ;background-image:none !important;width:7%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
          
    }
    .cMotorRojo{
        background-color:#FF0000;opacity: 0.70 ;background-image:none !important;width:7%;text-align:center;border-left:1px solid rgba(255,255,255,64);border-right:1px solid rgba(255,255,255,64);
        float:right;
          display:inline-block;
          position:relative ;top:-18px;
          
    }




