/**
* Layout 1: 240-430
*/
@media only screen and (max-width: 430px) 
{
    /* general */
    #layout5,.h_Arbol,input,select,html,body, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section 
{
    font-size:10px;
}
        .layout_1, body
    {
        text-align:center ;
        width:100%;
    }
    /* header */
    .layout_1,.headers,.logoIzq,.logoDer,.menu_icons,.operations_icons,.forms,.tables,.graphs,.content_1c
    {
        display: block;
    }
    .logoIzq
    {  
        min-width: 80px;
        max-width: 226px;
        width:43%;
        float:left;
    }
    .logoDer
    {
        min-width: 80px;
        max-width: 226px;
        width:43%;
        float:right;
        display: inline-block;
    }
    /* menus */
    #nav li { 
        margin: 1px ;
    }

    /* breadcrumbs */
    .hBreadcrumbs b,
    .hBreadcrumbs div
    {
        font-size: 8px ;
    }
    .hLinkInicio a
    {
        font-size: 10px;
    }
    /* contenido_inner */
    .forms50cb,.forms50c{
        width:100%;
    }
    .scoreboardVertical
    {
        width:100%;
        background-color:#fcf9ff;
    }
    .graphs
    {
        margin-top: 15px;
        display: inline-block;
    }
    .graphs50
    {
        margin-top: 15px;
        display: inline-block;
    }
    .graphs,
    .tables,
    #detailV 
    {
        width:100% ; margin-top: 8px;
    }

    /* footer */

}
