.container_3d{
        -moz-perspective: 1920px;
    -ms-perspective: 1080px;
    -o-perspective: 1080px;
    -webkit-perspective: 1080px;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

/* Para rotación de elementos 
.block_3d{
    -webkit-transform: rotate3d(1,0,0,5deg);
    -webkit-transform-origin: 5% 0%  0;
    -moz-transform-origin: 5% 0%  0;
    -o-transform-origin: 5% 0%  0;
}

.container_3d, .block_3d {
     -webkit-transition-property: all;
     -moz-transition-property: all;
       -o-transition-property: all;
          transition-property: all;
       -webkit-transition-duration: 0.1s;
     -moz-transition-duration: 0.1s;
          transition-duration: 0.1s;     
}

.block_3d:hover {
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
}

*/

/* fin 3d*/

body {
    margin:auto;            /* you'll see why later */
    text-align:center;      /* to center align grid boxes */
    /*   letter-spacing: -0.31em;/* webkit: collapse white-space between units */
    * letter-spacing: normal;/* reset IE < 8 */
    /*   word-spacing: -0.43em;  /* IE < 8 && gecko: collapse white-space between units */
}
.grid-block {
    letter-spacing: normal; /* reset */
    word-spacing: normal;   /* reset */

    display:inline-block;   /* styling all grid-wrapper as inline blocks */
    vertical-align:top;     /* aligning those boxes at the top */
    *display:inline;        /* IE hack to mimic inline-block */
    zoom:1;                 /* part of the above hack for IE */
    width:100%;             /* boxes would shrink-wrap */
}

/**
 * rules below are meant to paint the boxes
*/

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white url("/images/lineasAzules.png") no-repeat  ; 
    background-position: 10px 20px;
    border:#c7cccf 1px solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
}
#hMainContainer
{
    background: white url("/images/lineasAzules.png") no-repeat  ; 
    background-position: bottom right;
    background-color: transparent;
}
#header
{
    margin: 0;
    padding: 0;

}

#content
{
    padding: 20px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}



#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu
{
    background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 0px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
}

.portlet-decoration
{
    padding: 3px 8px;
    background: #d33c44;
    border-left: 5px solid #b32c24;

}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#FCFAE8;
    border:#e0cd7c 1px solid;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}



a.small-button { padding-right: 17px;padding-top:  0px; height: 32px; line-height: 30px; float: left; margin: 0px; text-decoration: none; }
a.small-button:hover { text-decoration: none; color: #eeeeee; }
a.small-button span { height: 32px; line-height: 30px; padding: 0px 0px 0px 17px; }

a.smallred { background: url(/images/small-button-red.png) no-repeat bottom right; }
a.smallred span { background: url(/images/small-button-red.png) no-repeat; }



