table.detail-view .null
{
	color: pink;
}

table.detail-view
{
    width:100%;
padding: 2px;
        margin: 7px 0px;
        border: 1px #AC8B3A solid;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.156875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.156875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.156875);
-moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px;
}

table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th
{
	text-align: right;
	width: 160px;
}

table.detail-view tr.odd
{
	background:#E5F1F4;opacity: 0.7;
}

table.detail-view tr.even
{
	background:#F8F8F8;opacity: 0.7;
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}
