.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
    widht:100%;
	padding: 2px;
        margin: 7px 0;
        border: 1px #AC8B3A solid;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.156875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.156875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.156875);
-moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px;
        
        
        
}
.grid-view table.items thead, .pager, .summary
{
    text-shadow: rgba(0, 0, 0, 0.256875) 2px 2px 2px;
}

.grid-view table.items
{
	background: transparent;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
}

.grid-view table.items th
{
	color: white;
	background: url("bg.gif") repeat-x scroll left top white;
	text-align: center;
}

.grid-view table.items th a
{
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #EEE;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background: #F8F8F8; opacity: 0.7;
}

.grid-view table.items tr.odd
{
	background: #E5F1F4; opacity: 0.7; 
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover
{
	background: #ECFBD4;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}