#nav-bar { text-align: center;width:100%;border-top:0px solid #f69b7b; border-bottom:0px solid #f69b7b; background-color:  transparent; padding:0px;  }
#nav { width:100%;text-align: center; margin:0;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}

/************** ALL LEVELS  *************/ 
#nav li { position:relative; text-align:left; text-shadow: rgba(0, 0, 0, 0.106875) 2px 2px 2px; margin: 0px;}
#nav li.over { z-index:99;  font-weight:bold;}
#nav li.active { z-index:100; }
#nav a,
#nav a:hover { text-decoration:none; font-weight:bold;}
#nav span { display:block; }

/************ 1ST LEVEL  ***************/
#nav li { font-weight:normal;text-align: center;}
#nav li span{font-weight:normal; }
#nav li.active {  color:#fff;    }
#nav li.active span{ font-weight:bold;}
#nav li.active em { display:block; position:absolute; top:0;  width:3px;  background:url(nav1_active.gif) no-repeat 100% 0; }
#nav li.active a{ background-image: none;background-color: #f99196;opacity: 1; }
#nav li.active ul li a{ background-image: none;background-color: transparent;opacity: 1; }
#nav a 
{   
    display: inline-block; text-align: center;font-weight:normal; margin: 0px; font: 14px Arial,sans-serif; 
    color: #ffffff !important; margin:0px; text-shadow: 1px 1px 1px rgba(0,0,0,0.3) !important; text-decoration: none; 
    vertical-align: central;
    background-color: #dd3f47;
    border:#811e24 1px solid;        
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:7px;
        -webkit-border-radius: 7px;
        border-radius:7px;
        background-image: linear-gradient(bottom, rgb(230,101,110) 51%, rgb(194,78,85) 17%);
background-image: -o-linear-gradient(bottom, rgb(230,101,110) 51%, rgb(194,78,85) 17%);
background-image: -moz-linear-gradient(bottom, rgb(230,101,110) 51%, rgb(194,78,85) 17%);
background-image: -webkit-linear-gradient(bottom, rgb(230,101,110) 51%, rgb(194,78,85) 17%);
background-image: -ms-linear-gradient(bottom, rgb(230,101,110) 51%, rgb(194,78,85) 17%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.51, rgb(230,101,110)),
	color-stop(0.17, rgb(194,78,85))
);
opacity: 0.95;
}
#nav a:hover { font-weight:bold;background-image: none;background-color: #f99196;opacity: 1; color: #fff !important; }
#nav a span { padding: 0px; }
#nav li.over a { font-weight:bold;color:#fff; background-image: none;background-color: #f99196;opacity: 1; }
#nav li.over ul li a { font-weight:bold;color:#fff; background-image: none;background-color: transparent;opacity: 1; }        
       

/************ 1ST LEVEL RESET ************/
#nav ul li{margin-left:10px; }
#nav ul li,
#nav ul li.active { list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; float:none; background:none; margin:0; }
#nav ul a,
#nav ul a:hover { background: none;float:none; padding:0; background-color:  #ffffff; }
#nav ul li.over a,
#nav ul li.over ,
#nav ul a,
#nav li.active li { background: none;font-weight:normal; }
#nav ul a span {background: none;}


/************ 2ND LEVEL ************/
#nav ul {        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px; 
    background-color: #FFFFFF; 
    border: #e0cd7c 1px solid;
    z-index:1;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;margin:0 0 0 80%;padding:0px; position:absolute; width:230px; top:0px; left:-10000px; color:#000000; }
#nav ul ul  { z-index:1;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:2px 0 0 0; border-top:0; background:url(nav3_bg.png) 0 0 no-repeat; left:100px; top:13px; }

/* Show menu */
#nav li.over ul { left:-1px; }
#nav li.over ul ul { left:-10000px; }
#nav li.over ul li.over ul { left:100px; }

#nav ul li {  z-index:1;padding:0; color:#000000;font-weight:normal !important;}
#nav ul li a { 
    padding: 2px 0 2px 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
    width:100%;z-index:1;background-color:  transparent;font-weight:normal !important;background:transparent; color: #111111; opacity:1; border:0px solid #e0cd7c; border-top:1px solid #e0cd7c; color:#ffffff;margin: 0px;}
#nav ul li a span { background-color:  transparent;background:transparent; color: #111111; opacity:1; font-weight:normal !important;text-decoration:none;border:0px solid #e0cd7c;}
#nav ul li a:hover { background-color: #F99196; 
                     padding: 2px 0 2px 0;
        -moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px; opacity: 1;
        font-weight:normal !important;
}
#nav ul li a span:hover {color:#ffffff; opacity: 1;background-color: #F99196;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px
}
#nav li.over ul a,
#nav ul li.active a,
#nav ul li a,
#nav ul li a:hover { color:#000000; font-weight:normal;text-decoration:none;}
#nav ul li.active a span{font-weight:normal;text-decoration:none;}
#nav ul li.active a {font-weight:normal;text-decoration:none;}
#nav ul span,
#nav ul li.last li span { padding:5px 15px; 

}
#nav ul li.last span,
#nav ul li.last li.last span { background:none; }
#nav ul li.last { padding-bottom:3px; }

#nav ul li.parent a,
#nav ul li.parent li.parent a { background-image:url(nav2_parent_arrow.gif); background-position:100% 100%; background-repeat:no-repeat; }
#nav ul li.parent li a,
#nav ul li.parent li.parent li a { background-image:none; }

/************ 3RD+ LEVEL ************/
/* Cursors */
#nav li.parent a,
#nav li.parent li.parent a,
#nav li.parent li.parent li.parent a { cursor:default; }

#nav li.parent li a,
#nav li.parent li.parent li a,
#nav li.parent li.parent li.parent li a { cursor:pointer; }

/* Show menu */
#nav ul ul ul { left:-10000px; list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; }
#nav li.over ul li.over ul ul { left:-10000px;}
#nav li.over ul li.over ul li.over ul { left:100px; }

#nav-bar:after, #nav-container:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }