#nav-bar { border-top:0px solid #f69b7b; border-bottom:0px solid #f69b7b; background-color:  transparent; padding:0 30px;width:100%; height:20px; }
#nav { float:left; margin:0;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;width:100%;}

/************** ALL LEVELS  *************/ 
#nav li { position:relative; text-align:left; text-shadow: rgba(0, 0, 0, 0.106875) 2px 2px 2px; margin-right:5px;display:inline;}
#nav li.over { z-index:99; }
#nav li.active { z-index:100; }
#nav a,
#nav a:hover { display:block; text-decoration:none; font-weight:bold;}
#nav span { display:block; }
#nav a { line-height:1.3em; }



/************ 1ST LEVEL  ***************/
#nav li { float:left;  font-weight:bold; }
#nav li span{font-weight:bold; }
#nav li.active { margin-left:-1px; color:#fff;   }
#nav li.active span{ text-decoration:underline;font-weight:bold;}
#nav li.active em { display:block; position:absolute; top:0; right:-1px; width:3px; height:27px; background:url(nav1_active.gif) no-repeat 100% 0; }
#nav a {font-weight:bold; margin: 0px; background: url(/images/small-button-red.png) no-repeat bottom right;padding-right: 15px; height: 32px; float: left; display: block; font: 14px Arial,sans-serif; color: #ffffff !important; margin: 8px 0px; text-shadow: 1px 1px 1px rgba(0,0,0,0.3) !important; text-decoration: none; }
#nav a:hover { text-decoration:underline; color: #eeeeee !important; }
#nav a span { background: url(/images/small-button-red.png) no-repeat;height: 32px; display: block; line-height: 30px; padding: 0px 0px 0px 16px; }
#nav li.over a { color:#fff; }
        

       

/************ 1ST LEVEL RESET ************/
#nav ul li{margin-left:10px;}
#nav ul li,
#nav ul li.active { list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; float:none; height:auto; background:none; margin:0; }
#nav ul a,
#nav ul a:hover { background: none;float:none; padding:0; background-color:  #ffffff; }
#nav ul li.over a,
#nav ul li.over ,
#nav ul a,
#nav li.active li { background: none;font-weight:normal; }
#nav ul a span {background: none;}


/************ 2ND LEVEL ************/
#nav ul {        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:8px;
        -webkit-border-radius: 8px;
        border-radius:8px; 
    background-color: #FCFAE8; opacity: 0.95;
    border: #e0cd7c 1px solid;
    list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:2px; position:absolute; width:230px; top:38px; left:-10000px; color:#000000; }
#nav ul ul  { list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:2px 0 0 0; border-top:0; background:url(nav3_bg.png) 0 0 no-repeat; left:100px; top:13px; }

/* Show menu */
#nav li.over ul { left:-1px; }
#nav li.over ul ul { left:-10000px; }
#nav li.over ul li.over ul { left:100px; }

#nav ul li {  padding:0 2px; color:#000000;font-weight:normal !important;}
#nav ul li a { font-weight:normal !important;background:transparent; color: #111111; opacity:1; border:0px solid #e0cd7c; border-top:1px solid #e0cd7c; color:#ffffff;margin: 0px;}
#nav ul li a span { background:transparent; color: #111111; opacity:1; font-weight:normal !important;text-decoration:none;}
#nav ul li a:hover { background:#ca6e62; 
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.256875);
-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.256875);
        -moz-border-radius:4px;
        -webkit-border-radius: 4px;
        border-radius:4px; opacity: 1;
        font-weight:normal !important;
}
#nav ul li a span:hover {color:#ffffff; opacity: 1;}
#nav li.over ul a,
#nav ul li.active a,
#nav ul li a,
#nav ul li a:hover { color:#000000; font-weight:normal;text-decoration:none;}
#nav ul li.active a span{font-weight:normal;text-decoration:none;}
#nav ul li.active a {font-weight:normal;text-decoration:none;}
#nav ul span,
#nav ul li.last li span { padding:5px 15px;  }
#nav ul li.last span,
#nav ul li.last li.last span { background:none; }
#nav ul li.last { padding-bottom:3px; }

#nav ul li.parent a,
#nav ul li.parent li.parent a { background-image:url(nav2_parent_arrow.gif); background-position:100% 100%; background-repeat:no-repeat; }
#nav ul li.parent li a,
#nav ul li.parent li.parent li a { background-image:none; }

/************ 3RD+ LEVEL ************/
/* Cursors */
#nav li.parent a,
#nav li.parent li.parent a,
#nav li.parent li.parent li.parent a { cursor:default; }

#nav li.parent li a,
#nav li.parent li.parent li a,
#nav li.parent li.parent li.parent li a { cursor:pointer; }

/* Show menu */
#nav ul ul ul { left:-10000px; list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; }
#nav li.over ul li.over ul ul { left:-10000px;}
#nav li.over ul li.over ul li.over ul { left:100px; }

#nav-bar:after, #nav-container:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }