/*
 * jsTree apple theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */


#miTree2  { background:url("bg.jpg") left top repeat; }


.jstree-tree li, 
.jstree-tree ins { background-image:url("d.gif"); background-repeat:no-repeat; background-color:transparent; }
.jstree-tree li { background-position:-90px 0; background-repeat:repeat-y;  }
.jstree-tree li.jstree-last { background:transparent; }
.jstree-tree .jstree-open > ins { background-position:-72px 0; }
.jstree-tree .jstree-closed > ins { background-position:-54px 0; }
.jstree-tree .jstree-leaf > ins { background-position:-36px 0; }

.jstree-tree a { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; text-shadow:1px 1px 1px white; }
.jstree-tree .jstree-hovered { background:#e7f4f9;}
.jstree-tree .jstree-clicked { background:#beebff;}
.jstree-tree a .jstree-icon { background-position:-56px -20px; }
.jstree-tree a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-tree.jstree-focused {  }

.jstree-tree .jstree-no-dots li, 
.jstree-tree .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-tree .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-tree .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-tree .jstree-no-icons a .jstree-icon { display:none; }

.jstree-tree .jstree-search { font-style:italic; }

.jstree-tree .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-tree .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-tree .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-tree .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-tree .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-tree .jstree-checked > a > .checkbox:hover { background-position:-38px -37px; }
.jstree-tree .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-tree .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-tree ins { background:transparent !important; }
#vakata-dragged.jstree-tree .jstree-ok { background:url("d.gif") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-tree .jstree-invalid { background:url("d.gif") -18px -53px no-repeat !important; }
#jstree-marker.jstree-tree { background:url("d.gif") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-tree a.jstree-search { color:aqua; }
.jstree-tree .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-tree-context, 
#vakata-contextmenu.jstree-tree-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-tree-context li { }
#vakata-contextmenu.jstree-tree-context a { color:black; }
#vakata-contextmenu.jstree-tree-context a:hover, 
#vakata-contextmenu.jstree-tree-context .vakata-hover > a { padding:0 5px; background:#961C1F; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-tree-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-tree-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-tree-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-tree-context li ul { margin-left:-4px; }

/* TODO: IE6 support - the `>` selectors */